.mainMenu {
    margin-top: .2em;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mainMenu h1 {
    padding-top: 1.6em;
    padding-left:.4em;

}

.mainContent {
    margin-top: .2em;
}
.mainContent > div {
    padding:0;
}
.mainContent section {
    margin:2em 0;
}

    .mainContent .hero,
    .mainContent .home2,
    .mainContent .home3 {
        display: flex;
        flex-direction: row;
        padding: 2em 0 2em 2em
    }
    .mainContent .hero .hero-left,
    .mainContent .hero .hero-right {
        width: 50%;
    }
    .mainContent .hero-img {
        width: 100%;
    }
    .mainContent .home2 {
        background-color: #D6E3FB;
        padding-right:2em;
    }

        .home2 .hero-left{
            width: 30em;
        }
        .home2 .hero-right{
            width: auto;
            padding-left: 2em;
        }
.mainMenu ul {
    list-style: none;
}
.mainMenu ul li {
    padding: .2em 0;
    margin-bottom: .4em;
}
.icon-rounded {
    float:left;
    overflow: hidden;
    border-radius: 4px;
    height: 1.6em;
    margin-right:.4em;
}
.icon-rounded img {
    width: 1.6em;
    height: 1.6em;
}

.hero-left a{
    margin: 0 .6em
}
.action-buttons {
    margin: 2em 0;
}
/* Font Styles */
p.hero-p {
    color: #303030;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}
.mainContent h1{
  height: 93px;
  width: 521px;
  color: #8080FF;
  font-size: 52px;
  letter-spacing: 0.11px;
  line-height: 62px;
}
.mainContent h2 {
    color: #8080FF;
    font-size: 36px;
    letter-spacing: 0.07px;
    line-height: 43px;
}