.mainMenu {
    margin-top: .2em;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mainMenu h1 {
    padding-top: 1.6em;
    padding-left:.4em;

}
.mainContent {
    margin-top: .2em;
}
.mainMenu ul {
    list-style: none;
}
.mainMenu ul li {
    padding: .2em 0;
    margin-bottom: .4em;
}
.icon-rounded {
    float:left;
    overflow: hidden;
    border-radius: 4px;
    height: 1.6em;
    margin-right:.4em;
}
.icon-rounded img {
    width: 1.6em;
    height: 1.6em;
}

.hero-actions a{
    margin: 0 .6em
}