.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:.6em;
    height: 84px;
    width: 100%;
    padding: .2em .6em;
    border-radius: 16px 16px 0 0;
    background-color: #F9FAFC;
    margin-bottom: 2px;
    -webkit-box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.27);
}

.header_logo {
    height: 2em;
    display: flex;
    align-items: center;
}
    .header_logo h4 { 
        font-weight: 600;
    }
.it-logo-header {
    max-height: 2.4em;
    margin-right: 1em;
  }
