.score-attribute {
    padding: .6em;
    margin-bottom: .6em .4em;
}
.attribute-title {
    display: flex;
    justify-content: space-between;
}
.attribute > * { flex: 1 auto; }
    .attribute-title > label {
        margin-top: 0;
    }

.attribute-scale {
    background-color: #ccc;
    height: 3px;
    width: 100%;
    position: relative;
}
.attribute-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(86,64,144);
    height: 3px;
}
.attribute-progress.rValue {
    width:92%;
}
